body{
    margin:0; padding:0; box-sizing: border-box;
}

h1{font-family: 'BIZ UDPMincho', serif;
    font-size:50px;
}
.l{
color:orange;
}
.a{
    /* background: grey; */
    width:40%; float: left;
    margin-left:5%; padding-left:2%;
}
.a img{height:300px; }
.a a{
    padding:8px; border-radius: 5px;text-decoration: none;
    color:white; font-weight:700;
    background: linear-gradient(100deg,orange,rgb(252, 205, 117));}
.top-banner{
    border:1px red solid; 
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
}
.second{
    border:1px red solid; 
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}